#table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
}
td {
    min-width: 100px;
}

.soam {
    color: red;
}
.soduong {
    color: blue;
}
.right {
    text-align: right;
}